# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.filters

# JetBrains Rider
.idea/
*.DotSettings

# VS Code
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build/
build2/

# Native
*.dll
*.lib
*.exp
*.pdb
